# Copyright (C) 2026 Nigel Breslaw
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "private/magik-cloud"]
	path = private/magik-cloud
	url = git@github.com:NigelBreslaw/magik-cloud.git
	update = none
[submodule "desktop/vendor/material-icon-theme"]
	path = apps/desktop/vendor/material-icon-theme
	url = https://github.com/material-extensions/vscode-material-icon-theme.git
	ignore = all
[submodule "desktop/vendor/github-app"]
	path = apps/desktop/vendor/github-app
	url = https://github.com/NigelBreslaw/slint-ui-for-github-cli.git
	ignore = all
[submodule "private/lspi"]
	path = private/lspi
	url = git@github.com:NigelBreslaw/lspi.git
[submodule "private/magik-assets"]
	path = private/magik-assets
	url = git@github.com:NigelBreslaw/mister-magik-private-assets.git
